<header class="header">
  <div class="container">
    <div class="row">
      <h1 class="logo col-md-4">
        <a href="http://deletingdomains.herokuapp.com">
          Deleting Domains
        </a>
      </h1>
    </div>
  </div>
</header>

<div class="jumbo container-fluid">

  <div class="container">
    <div class="jumbotron">
      <h1>discover expiring domains</h1>
      <p class="lead">find your perfect domain without being overcharged</p>
      <p><a id="action" class="btn btn-lg btn-success" role="button">go</a></p>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>expiring</th>
      </tr>
    </thead>
    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><%= domain.id %></td>
          <td>
            <h2>
              <%= domain.name %>
              <small>.<%= domain.tld %></small>
            </h2>
          </td>
          <td><%= domain.expiry %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<footer>
  <div class="container-fluid">
    <div class="footer pull-right">
      dunckr
    </div>
  </div>
</footer>
