<header class="header">
  <div class="container">
    <div class="row">
      <h1 class="logo col-md-4">Deleting Domains</h1>
    </div>
  </div>
</header>

<div class="jumbo container-fluid">

  <div class="container">
    <div class="jumbotron">

      <div class="banner">
        <h1>discover expiring domains</h1>
        <p class="lead">find your perfect domain without being overcharged</p>
      </div>
      <div class="search">
        <div class="row">
          <form role="form">
            <div class="form-group">
              <div class="col-md-1">
                <label for="search">Search:</label>
              </div>
              <div class="col-md-4">
                <input type="email" class="form-control" id="search" placeholder="by domains...">
              </div>
              <div class="col-md-1">
                <p><a id="action" class="btn btn-lg btn-success" role="button">go</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>expiring</th>
      </tr>
    </thead>
    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><small><%= domain.id %></small></td>
          <td>
            <h2 class="domain"><%= domain.name %>
            </h2>
            <small class="tld">.<%= domain.tld %></small>
          </td>
          <td class="expiry"><%= domain.expiry %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<footer>
  <div class="container-fluid">
    <div class="footer pull-right">
      dunckr
    </div>
  </div>
</footer>
