// Place all the styles related to the Domains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

$green: #C8FF53;
$red: #FE3B68;
$white: #F5F3F3;
$grey: #6B7174;
$blue: #4EDAD7;

.logo {
  font-family: 'Raleway', sans-serif;
  color: $white;
}

td > h2 {
  font-family: 'Raleway', sans-serif;
}

body {
  background: image-url("bg.png");
}

header {
  background-color: $red;
  a {
    color: $green;
  }
}

.jumbo {
  background-color: $red;
  color: $white;
  font-family: 'Varela Round', sans-serif;
}

.jumbotron {
  background-color: $blue;
  h1 {
    font-family: 'Varela Round', sans-serif;
  }
}

.search {
  background-color: $blue;
}

footer {
  background-color: $grey;
  font-family: 'Varela Round', sans-serif;
  a {
    color: $blue;
  }
}

html {
  background-color: $grey;
}

#action {
  background-color: $grey;
  border-color: transparent;
  color: $white;
}

table thead {
  color: $grey;
}

.domain {
  display: inline;
}

.tld {
  display: inline;
}

.twitter {
  font-family: 'Raleway', sans-serif;
  color: $green;
  line-height: 3;
}
